@import "tailwindcss";
@source "../node_modules/@ilamy/calendar/dist";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #261500;
  --background-secondary: #dee2e6;
  --foreground: #ededed;
  --color-primary: #e68a2e;
  --color-secondary: #a5b3aa;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  transition: background 0.3s, color 0.3s;
}